.profile{
    background-color: var(--lightgrey-color);
    border-radius: 8px;
    width: fit-content;
    padding: 1rem 3rem;
    margin: 1rem auto;
}
.profile-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: contain;
}
