@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

:root{
    --green-color : #6cc644;
    --white-color : #fafafa;
    --lightgrey-color : #f5f5f5;
    --blue-color : #0000FF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.justify-start{
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-content: flex-start;
}

.align-self-start{
    align-self: flex-start;
}

.no-wrap{
    flex-wrap: nowrap;
}

.mt-1{
    margin-top: 1rem;
}

.p-1{
    padding: 1rem;
}

.link{
    text-decoration: none;
    color:initial;
}
